---
layout: main
title: Marek Kultys | Vivli
label: case-study
---
<section>
   <div class="container">
      <h4>Case study</h4>
      <h1>Winning stakeholder support for Vivli</h1>
   </div>

   <div class="container">
      <div class="container-two-thirds shift">
         <div class="block-margin">
            <div class="video-wrapper">
               <video autoplay muted loop controls playsinline class="shadow">
                  <source src="/img/cases/vivli/vivli-for-website.webm" type="video/webm">
                  Your browser does not support the video tag.
                  <img src="/img/cases/vivli-front.png" title="Your browser does not support the video tag" alt="Vivli prototype walkthrough">
               <video>
            </div>
         </div>
      </div>

      <div class="container-one-third shift-back">
         <div class="caption-margin">
            <h4 class="caption"><b>My role:</b> Design Lead & Contributor</h4>
            <h4 class="caption"><b>Project type:</b> Client project</h4>
            <h4 class="caption"><b>Year:</b> 2016</h4>
            <h4 class="caption"><b>My contributions:</b> Design leadership, Client leadership, UX design, Vision prototyping, Qualitative research</h4>
            <h4 class="caption"><b>Outcome:</b> Vivli successfully secured backing from consortium partners</h4>
         </div>
      </div>
   </div>

   {% include divider.html %}

   <div class="container">
      <div class="container-two-thirds shift">
         <h3>The Challenge</h3>
         <p>
            Vivli is a global non-profit on a mission to maximise the use and access to clinical trial data for the benefit of the wider biomedical R&amp;D community.
         </p>
         <p>
            In 2016, Vivli approached with technical specs of their new data sharing platform. They needed help with two key challenges holding up their progress:
         </p>
         <ul>
            <li>Validate Vivli’s vision with target users</li>
            <li>Get Vivli’s consortium of partners behind this vision</li>
         </ul>
         <p>
         </p>
      </div>

      <div class="container-two-thirds shift">
         <div class="block-margin">
            <img src="/img/cases/vivli/vivli-models.png" class="image-gallery shadow">
            <img src="/img/cases/vivli/vivli-sketches.png" class="image-gallery shadow">
            <img src="/img/cases/vivli/vivli-workflow.png" class="image-gallery shadow">
         </div>
      </div>
      <div class="container-one-third shift-back">
         <div class="caption-margin">
            <h4 class="caption">
               I invited Vivli's technical leadership to co-design.
            </h4>
            <h4 class="caption">
               We used concept modeling, sketching, and process design to shape the user experience and information architecture of Vivli's new data sharing platform.
            </h4>
         </div>
      </div>

      <div class="container-two-thirds shift">
         <h3>My Approach</h3>
         <p>
            To address both challenged, I worked with Vivli founders to translate their technical specification into a tangible design proposal delivered as a clickable prototype.
         </p>
         <p>
            I then used the prototype to validate the product and communicate its vision and value to stakeholders.
         </p>
      </div>

      <div class="container-two-thirds shift">
         <div class="block-margin">
            <img src="/img/cases/vivli/vivli-prototype.png" class="image-gallery shadow">
            <img src="/img/cases/vivli/vivli-demo.png" class="image-gallery shadow">
         </div>
      </div>
      <div class="container-one-third shift-back">
         <div class="caption-margin">
            <h4 class="caption">
               Through prototyping, I showcased the experience for two types of Vivli users: Data Submitters and Data Requesters.
            </h4>
            <h4 class="caption">
               A narrated demo showing how the platform delivers value to both groups won the hearts of Vivli's stakeholders.
            </h4>
         </div>
      </div>

      <div class="container-two-thirds shift">
         <h3>The Result</h3>
         <p>
            I validated Vivli's vision in research with experts. I used the prototype as design stimulus in conversation to help elicit feedback and action it in subsequent iterations.
         </p>
         <p>
            With the prototype, I produced a video demo showing Vivli’s vision in tangible, realistic terms. It helped Vivli founders impress their partners and win their support.
         </p>
         <p>
            Following this, Vivli became one of the top platforms for clinical trial data sharing. Today, Vivli lists 7,718 clinical studies from 55 sponsors, including major organisations in pharma and academia.
         </p>
      </div>

      <div class="container-two-thirds shift">
         <div class="block-margin">
            <img src="/img/cases/vivli/vivli-email-from-ida.png" class="shadow">
         </div>
      </div>
      <div class="container-one-third shift-back">
         <div class="caption-margin">
            <h4 class="caption">
               Email of appreciation from Ida Sim, one of Vivli’s co-founders.
            </h4>
         </div>
      </div>
   </div>

   {% include divider.html %}

   <div class="container">
      <h4>Appendix — Notes by the Science Practice team</h4>
      <h2>Learnings from prototyping for research and collaboration</h2>
   </div>

   <span class="appendix">
      <div class="container">
         <div class="container-two-thirds shift block-margin">
            <div class="entry">
            <p>
               Our aim was to design, prototype, and test an end-to-end Vivli experience for two types of user:
            </p>
            <ul>
               <li>Requesters, who would use Vivli to search for studies and request access to individual patient data</li>
               <li>Submitters, who would use Vivli to add studies to the Vivli catalogue for requesters to discover and use</li>
            </ul>
            <p>
               We used prototypes as stimulus material in expert research that we conducted with thought leaders in information sharing platforms in healthcare. We also used our prototypes with Vivli’s potential users working all over the world in various medical domains, such as: randomised clinical trials, evidence synthesis, clinical informatics, and secondary analysis.
            </p>
            <p>
               Our findings helped us improve the prototype and refine the Vivli experience. The prototypes were also used as a tool for strengthening the Vivli consortium and communicating Vivli’s vision to stakeholders and collaborators.
            </p>
            <p>
               During our research we identified the challenges a data platform such as Vivli is going to face. Below are just a few of our findings that informed design decisions.
            </p>
            </div>
         </div>
      </div>

      <div class="container">
         <div class="container-two-thirds shift">
            <div class="entry">
               <h3>
                  How can we improve discoverability of clinical studies through a better search interface?
               </h3>
               <img src="/img/cases/vivli/vivli-search.png" class="shadow">
               <p>
                  Existing platforms offer limited search capabilities, restricted to a minimal selection of high-level search terms. Vivli will provide access to rich metadata annotation, allowing requesters to create rich search queries.
               </p>
               <p>
                  We designed an interactive query tool augmented by the <a href="https://community.cochrane.org/pico-search-about">PICO</a> framework (Population, Intervention, Comparator, Outcome) to help researchers formulate clinical questions and precise queries.
               </p>
               <img src="/img/cases/vivli/vivli-result.png" class="shadow">
               <p>
                  We also found that researchers often waste time requesting data that turns out to be of low quality or lacking relevant variables.
               </p>
               <p>
                  So we proposed a data quality score and a high-level data schema displayed alongside each query result, available for requesters to review before they decide to request.
               </p>
            </div>

            <div class="entry">
               <h3>
                  How can an online platform incentivise academics to share data?
               </h3>
               <img src="/img/cases/vivli/vivli-citations.png" class="shadow">
               <p>
                  We found that academic researchers who conduct clinical trials find limited value in making their data available for secondary analysis. This is unless data sharing is rewarded in academia’s main currency — publication citations.
               </p>
               <p>
                  To incentivise better data sharing amongst academics, we designed a mechanism for tracking data usage and citations on the submitter’s account.
               </p>
            </div>

            <div class="entry">
               <h3>
                  How can we ensure that data curation is as fast, accurate and as complete as possible?
               </h3>
               <img src="/img/cases/vivli/vivli-curate.png" class="shadow">
               <p>
                  Searches for studies are only as good as the study description that is curated during study submission.
               </p>
               <p>
                  We designed a curation process through which submitters use automatic extraction of metadata elements from public registries and the study protocol. This is combined with manual refinement of metadata annotation and aided with a preview of the curated study as seen by requesters in search results.
               </p>
            </div>

            <div class="entry">
               <h3>
                  How can the user interface strengthen transparency of the data sharing experience?
               </h3>
               <img src="/img/cases/vivli/vivli-wait.png" class="shadow">
               <p>
                  Because of the sensitive nature of clinical study data, sharing is subject to a review process, legal controls, and data processing that takes time and is handled by multiple stakeholders.
               </p>
               <p>
                  This is another hurdle for requesters so we designed mitigating features that improve the transparency of the review process. These include live visualisations of the request status, tailored wait estimations, and a simplified online data usage agreement.
               </p>
            </div>
         </div>
      </div>
   </span>


</section>